/* Files table -------------------------------------------------------------- */
// Used by files app and file picker

#filestable .fileactions {

    a.action.action-menu, 
    a.action.action-share {
        padding: 16px 14px;
    }

    // WCAG 2.4.7: Focus Visible
    // Share and more info buttons recieve border on hover and focus
    a.action.action-menu:hover,
    a.action.action-menu:focus,
    a.action.action-share:hover,
    a.action.action-share:focus{
        border: 2.5px solid var(--custom-border-dark);
    }

}

// WCAG 1.4.3 All files
// Increased visibility for summary text below the files table (i.e. "1 folder and 3 files")
#filestable .summary {
    opacity: 1.0;
}

#app-content {

    // WCAG 2.4.7: Focus Visible
    // Home button recieve border on hover and focus
    #controls .icon-home:hover,
    #controls .icon-home:focus {
        border-radius: var(--border-radius-pill);
    }
    // Toggle grid button recieve border on hover and focus
    #view-toggle, 
    #showgridview ~ label {
        border: 2px solid var(--color-main-background-translucent);
    }
    #view-toggle:hover, 
    #showgridview:focus ~ label {
        border: 2px solid var(--custom-border-dark);
    }
    
}
.header-right .notifications-button,
.header-right .icon-contacts {
border: 1px solid #fff;
}
.header-right .notifications-button:hover,
.header-right .icon-contacts:hover {
    // WCAG 4.1.1: 
    // Notifications button recieve border on hover and focus
    opacity: 1 !important;
    border-radius: var(--border-radius-pill);
    border-color: #000 !important;

}
.header-right .notifications-button:focus,
.header-right .icon-contacts:focus {
    opacity: 1 !important;
    // WCAG 4.1.1: 
    // Notifications button recieve border on hover and focus
    //WCAG 2.4.7: Keyboard focus border
    border-radius: var(--border-radius-pill);
    border-color: #000 !important;

}

#content #app-navigation ul li:hover,
#content #app-navigation #app-settings #app-settings-header:hover
 {
    // WCAG 4.1.1: 
    border: 2px solid var(--custom-border-dark);
}

#app-content #app-content-files #filestable #fileList .filename:hover,
#app-content #app-content-recent #filestable #fileList .filename:hover,
#app-content #app-content-favorites #filestable #fileList .filename:hover
 {
    // WCAG 4.1.1: 
    border: 2px solid var(--custom-border-dark);
}


//WCAG 4.1.1
#fileList tr td.selection label {
    opacity: 1.0;
}

// WCAG 2.4.7: Focus Visible
// Public viewer:Viewer download
#header-primary-action a:hover,
#header-primary-action a:focus,
#header-secondary-action button#header-actions-toggle :hover,
#header-secondary-action button#header-actions-toggle :focus { 
    	border: 2.5px solid #1b0808;
}



